<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PHP Login</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <form method="POST" action="/auth">
        <input class="texts" type="text" name="username" size="15" placeholder="username" required="required"/><br />
        <input class="texts" type="password" name="password" size="15" placeholder="password" required="required"/><br />
        <input id="btn" type="submit" value="login" />
    </form>
    <div class="result"></div>
    <script src="js/main.js"></script>
</body>
</html>